@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Black.eot");
    src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Bold.eot");
    src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Regular.eot");
    src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Light.eot");
    src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom left, #b6b4b4e0, #1d1d1d, #0a0a0a, #000000);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    padding-top: 20px;
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

::-moz-selection {
    background: #FFF498
}

::selection {
    background: #FFF498
}

::-moz-selection {
    background: #FFF498
}

img::-moz-selection {
    background: transparent
}

img::selection {
    background: transparent
}

img::-moz-selection {
    background: transparent
}

body {
    -webkit-tap-highlight-color: #FFF498
}

body {
    background-color: #0c0c0c;
    font-size: 14px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

.l-viewport {
    position: relative;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 45px 5px rgba(248, 248, 248, 0.85);
    overflow: hidden;
    border-radius: 20px;
}

.l-wrapper {
    position: relative;
    width: 1440px;
    max-width: 90%;
    height: 100%;
    margin: 0 auto
}

.l-side-nav {
    position: absolute;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.l-side-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    max-height: 750px;
    background-color: #c5c5c5;
    opacity: .35;
    z-index: 10
}

.l-main-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none
}

.l-section {
    position: absolute;
    width: 100%;
    height: 100%
}

.device-notification {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #0c0c0c;
    z-index: 12
}

.device-notification--logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff
}

.device-notification--logo p {
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase
}

.device-notification--message {
    width: 70%;
    margin: 30px 0 0 0;
    font-weight: 700;
    text-align: center
}

.section {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .4s ease-in-out, visibility 0s .4s;
    transition: opacity .4s ease-in-out, visibility 0s .4s
}

.section--is-active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transition: opacity .4s ease-in-out .4s;
    transition: opacity .4s ease-in-out .4s
}

.section--next {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out
}

.section--prev {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out
}

.header {
    position: absolute;
    top: 12px;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 8
}

.header--nav-toggle {
    display: flex;
    width: 5rem;
    height: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 35px;
    background-color: transparent;
    border: none;
}

.header--nav-toggle span,
.header--nav-toggle::before,
.header--nav-toggle::after {
    content: "";
    position: relative;
    width: 18px;
    height: 5px;
    background-color: #ffffff;
}

.header--nav-toggle::before {
    bottom: 5px;
    width: 30px;
}

.header--nav-toggle::after {
    top: 5px;
    width: 30px;
}

.btn-contact-me a {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
}

.btn-contact-me a:hover {
    background: #0F33FF;
    color: #ffffff;
    box-shadow: 0 0 5px #0F33FF,
        0 0 25px #0F33FF,
        0 0 50px #0F33FF,
        0 0 200px #0F33FF;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.btn-contact-me a span {
    position: absolute;
    display: block;
}

.btn-contact-me a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #0F33FF);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.btn-contact-me a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #0F33FF);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.btn-contact-me a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #0F33FF);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.btn-contact-me a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #0F33FF);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.side-nav {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 70%;
    max-height: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    z-index: 10
}

.side-nav>li {
    position: relative;
    top: -5px;
    color: #fff;
    font-size: 6px;
    cursor: pointer
}

.side-nav>li span {
    position: relative;
    top: 3px;
    left: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    visibility: hidden
}

.side-nav>li::before {
    position: absolute;
    top: 3px;
    left: 10px;
    color: #555;
    font-size: 14px;
    font-weight: 300
}

.side-nav li:nth-child(1)::before {
    content: "01"
}

.side-nav li:nth-child(2)::before {
    content: "02"
}

.side-nav li:nth-child(3)::before {
    content: "03"
}

.side-nav li:nth-child(4)::before {
    content: "04"
}

.side-nav li:nth-child(5)::before {
    content: "05"
}

.side-nav li.is-active {
    color: #0f33ff;
    -webkit-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out
}

.side-nav li.is-active span {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out
}

.side-nav li.is-active::before {
    left: -33px;
    color: #fff
}

.intro {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto
}

.intro--banner {
    position: relative;
    height: 475px;
}

.intro--banner::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 940px;
    height: 2px;
    background-color: #282828
}

.intro--banner::after {
    content: "";
    bottom: 20px;
    position: absolute;
    right: -15px;
    width: 530px;
    height: 5px;
    background-color: #0f33ff;
    box-shadow: 0 0 10px #0f33ff, 0 0 20px #0f33ff, 0 0 30px #0f33ff, 0 0 40px #0f33ff;
    filter: brightness(1.8);
}

.intro--banner h1 {
    position: relative;
    font-size: 68px;
    font-weight: 900;
    line-height: 1;
    z-index: 1
}

.intro--banner button {
    position: relative;
    padding: 5px 17px 5px 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none
}

.intro--banner button .btn-background {
    position: absolute;
    top: 0;
    left: 23px;
    right: 0;
    height: 100%;
    background-color: #0f33ff;
    z-index: -1;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out
}

.intro--banner button:hover .btn-background {
    left: 0
}

.intro--banner button:focus {
    outline: none
}

.intro--banner button svg {
    position: relative;
    left: 5px;
    width: 15px;
    fill: #fff
}

.intro--banner img {
    position: absolute;
    bottom: 21px;
    right: -12px;
    z-index: -1;
}

.intro--options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 940px;
}

.intro--options>a {
    max-width: 210px;
    max-height: 250px;
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 15px;
    color: #282828;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}

.intro--options>a:hover {
    color: #fff;
    transition: color 0.1s ease, text-shadow 0.1s ease;
}

intro--options h3 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    color: #282828;
    /* Default color */
    transition: color 0.1s ease, text-shadow 0.1s ease;
}

.intro--options>a:hover h3 {
    color: #fff;
    /* White font color */
    text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 60px #fff;
}

.intro--options p {
    margin-bottom: 0;
    text-align: justify;
    line-height: 1.3;
}

.life {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 960px;
    max-width: 80%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto
}

.life h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center
}

.life--lockup {
    position: relative
}

.life--lockup .slider {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    list-style: none
}

.life--lockup .slider--item {
    position: absolute;
    display: none;
    text-align: center
}

.life--lockup .slider--item a {
    text-decoration: none;
    color: #858585
}

.life--lockup .slider--item-title {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase
}

.life--lockup .slider--item-description {
    display: none;
    font-size: 12px;
    max-width: 250px;
    margin: 0 auto
}

.life--lockup .slider--item-image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden
}

.life--lockup .slider--item-image img {
    height: 100%
}

.life--lockup .slider--item-left {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block
}

.life--lockup .slider--item-right {
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block
}

.life--lockup .slider--item-center {
    position: relative;
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block
}

.life--lockup .slider--item-center a {
    color: #fff
}

.life--lockup .slider--item-center .slider--item-title {
    margin-top: 25px;
    font-size: 16px
}

.life--lockup .slider--item-center .slider--item-description {
    display: block
}

.life--lockup .slider--item-center .slider--item-image {
    width: 300px;
    height: 300px
}

.life--lockup .slider--next,
.life--lockup .slider--prev {
    position: absolute;
    top: 160px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #282828;
    border-radius: 50%;
    cursor: pointer
}

.life--lockup .slider--next svg,
.life--lockup .slider--prev svg {
    width: 20px;
    fill: #fff
}

.life--lockup .slider--next {
    right: 0
}

.life--lockup .slider--prev {
    left: 0
}

.about {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto
}

.about--banner {
    position: relative;
    height: 475px;
}

.about--banner::before {
    content: "";
    position: absolute;
    bottom: 56px;
    left: -15px;
    right: 0;
    height: 2px;
    background-color: #282828
}

.about--banner::after {
    content: "";
    bottom: 56px;
    position: absolute;
    right: 45px;
    width: 430px;
    height: 4px;
    background-color: #0f33ff;
    box-shadow: 0 0 10px #0f33ff, 0 0 20px #0f33ff, 0 0 30px #0f33ff, 0 0 40px #0f33ff;
    filter: brightness(1.2);
}

.about--banner h2 {
    position: relative;
    margin-top: 100px;
    font-size: 68px;
    font-weight: 900;
    line-height: 1;
    z-index: 1
}

.about--banner h2::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 268px;
    width: 30px;
    height: 30px;
    background-color: #0f33ff;
    border-radius: 50%
}

.about--banner h2::after {
    content: "";
    position: absolute;
    top: 255px;
    left: 255px;
    width: 10px;
    height: 10px;
    background-color: #0f33ff
}

.about--banner a {
    padding: 5px 17px 15px 0;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent
}

.about--banner a:hover svg {
    left: 10px
}

.about--banner a svg {
    position: relative;
    left: 5px;
    width: 15px;
    fill: #fff;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out
}

.about--banner img {
    position: absolute;
    bottom: 60px;
    right: 40px;
    width: 410px;
    height: 390px;
}

.about--options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 600px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding-top: 20px;
    list-style: none
}

.about--options>a {
    display: flex;
    gap: 5px;
    position: relative;
    width: 150px;
    height: 75px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #fff;
    border: 10px solid #0f33ff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.about--options>a:nth-child(1) {
    background-image: url("../img/about-projects.jpg")
}

.about--options>a:nth-child(2) {
    background-image: url("../img/about-philosophy.jpg")
}

.about--options>a:nth-child(3) {
    background-image: url("../img/about-history.jpg")
}

.about--options>a:hover h3 {
    bottom: -50px
}

.about--options h3 {
    position: absolute;
    bottom: -38px;
    left: 10px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: bottom .2s ease-in-out, left .2s ease-in-out;
    transition: bottom .2s ease-in-out, left .2s ease-in-out
}

.contact--lockup {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    max-width: 75%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0 auto
}

.contact--lockup .modal {
    padding: 45px 45px;
    text-align: center;
    background-color: #0c0c0c;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.75)
}

.contact--lockup .modal--information p,
.contact--lockup .modal--information a {
    display: block;
    margin: 14px 0;
    text-decoration: none;
    color: #fff;
    font-weight: 700
}

.contact--lockup .modal--information p {
    margin-top: 0
}

.contact--lockup .modal--options {
    margin: 0;
    padding: 0;
    list-style: none
}

.contact--lockup .modal--options>li {
    width: 130px;
    margin: 0 auto 25px auto
}

.contact--lockup .modal--options li:nth-child(1) {
    background-color: #1769ff
}

.contact--lockup .modal--options li:nth-child(2) {
    background-color: #ea4c89
}

.contact--lockup .modal--options li:nth-child(3) {
    margin-bottom: 0;
    background-color: #0f33ff;
    text-transform: uppercase
}

.contact--lockup .modal--options a {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-decoration: none;
    color: #fff;
    font-weight: 700
}

.hire {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto
}

.hire h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center
}

.life-request {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff
}

.life-request input[type="submit"] {
    width: 400px;
    max-width: 100%;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #0f33ff;
    border: none;
    border-radius: 0
}

.life-request input[type="submit"]:focus {
    outline: none
}

.life-request--options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0
}

.life-request--options .options-a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.life-request--options .options-b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 72%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.life-request--options label {
    display: block;
    width: 200px;
    margin-bottom: 30px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border: 2px solid #fff;
    cursor: pointer;
    -webkit-transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out
}

.life-request--options label svg {
    position: relative;
    left: -5px;
    width: 0;
    fill: #fff;
    -webkit-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out
}

.life-request--options input[type="checkbox"] {
    display: none
}

.life-request--options input[type="checkbox"]:checked+label {
    background-color: #0f33ff;
    border-color: #0f33ff
}

.life-request--options input[type="checkbox"]:checked+label svg {
    width: 15px
}

.life-request--information {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 60px
}

.life-request--information .information-name,
.life-request--information .information-email {
    position: relative;
    width: 45%;
    height: 50px;
    font-size: 30px;
    font-weight: 300
}

.life-request--information input[type="text"],
.life-request--information input[type="email"] {
    width: 100%;
    padding: 0 0 5px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0
}

.life-request--information input[type="text"]:focus,
.life-request--information input[type="email"]:focus {
    outline: none;
    background-color: #0c0c0c
}

.life-request--information label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-transition: top .2s ease-in-out, font-size .2s ease-in-out;
    transition: top .2s ease-in-out, font-size .2s ease-in-out
}

.life-request--information input:focus+label,
.life-request--information input.has-value+label {
    top: -15px;
    font-size: 14px
}

.perspective {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.perspective--modalview {
    position: fixed;
    -webkit-perspective: 1500px;
    perspective: 1500px
}

.container {
    position: relative;
    -webkit-transform: translateZ(0) translateX(0) rotateY(0deg);
    transform: translateZ(0) translateX(0) rotateY(0deg);
    min-height: 100%;
    outline: 50px solid #0f33ff;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    border-radius: 5px;
}

.modalview .container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.effect-rotate-left .container {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s
}

.effect-rotate-left--animate .container {
    -webkit-transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
    transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
    outline: 30px solid #0f33ff;
    border-radius: 5px;
    box-shadow: 0 0 30px #0f33ff, 0 0 60px #0f33ff, 0 0 90px #0f33ff, 0 0 2000px #0f33ff;
}

.outer-nav {
    position: absolute;
    top: 50%;
    left: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    visibility: hidden;
    -webkit-transition: visibility 0s .2s;
    transition: visibility 0s .2s
}

.outer-nav.is-vis {
    visibility: visible
}

.outer-nav--return {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
    z-index: 11
}

.outer-nav--return.is-vis {
    display: block
}

.outer-nav>li {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateX(350px) translateZ(-1000px);
    transform: translateX(350px) translateZ(-1000px);
    font-size: 55px;
    font-weight: 900;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
    color: #fff;
    text-shadow: 0 0 10px #0f33ff, 0 0 20px #0f33ff, 0 0 30px #0f33ff, 0 0 40px #0f33ff;
}

.outer-nav>li:hover {
    color: #ffffffea;
    text-shadow: 0 0 15px #ffffff, 0 0 30px #0f33ff, 0 0 45px #0f33ff, 0 0 60px #0f33ff;
    transform: translateX(350px) translateZ(-950px);
}

.outer-nav>li:active {
    color: #0f33ff;
    text-shadow: 0 0 20px #0f33ff, 0 0 40px #0f33ff, 0 0 60px #0f33ff, 0 0 80px #0f33ff;
    transform: translateX(350px) translateZ(-900px);
    animation: neon-click-pulse 0.3s ease-in-out;
}

@keyframes neon-click-pulse {
    0% {
        text-shadow: 0 0 20px #0f33ff, 0 0 40px #0f33ff, 0 0 60px #0f33ff, 0 0 80px #0f33ff;
    }

    50% {
        text-shadow: 0 0 25px #0f33ff, 0 0 50px #0f33ff, 0 0 75px #0f33ff, 0 0 100px #0f33ff;
    }

    100% {
        text-shadow: 0 0 20px #0f33ff, 0 0 40px #0f33ff, 0 0 60px #0f33ff, 0 0 80px #0f33ff;
    }
}

.outer-nav>li.is-vis {
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    opacity: 1;
    -webkit-transition: opacity .4s, -webkit-transform .4s;
    transition: opacity .4s, -webkit-transform .4s;
    transition: transform .4s, opacity .4s;
    transition: transform .4s, opacity .4s, -webkit-transform .4s
}

.outer-nav>li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
    width: 110%;
    height: 15px;
    opacity: 0;
    background-image: url('../img/blue_stroke.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.outer-nav>li.is-active::before {
    opacity: 1
}

.outer-nav li.is-vis:nth-child(2) {
    -webkit-transition-delay: .04s;
    transition-delay: .04s
}

.outer-nav li.is-vis:nth-child(3) {
    -webkit-transition-delay: .08s;
    transition-delay: .08s
}

.outer-nav li.is-vis:nth-child(4) {
    -webkit-transition-delay: .12s;
    transition-delay: .12s
}

.outer-nav li.is-vis:nth-child(5) {
    -webkit-transition-delay: .16s;
    transition-delay: .16s
}

.hero-typed {
    font-size: 25px;
    display: inline-block;
    vertical-align: bottom;
    z-index: 2;
}

.typed-cursor {
    font-size: 25px;
    width: 10px;
    animation: blink 0.5s infinite;
}

@keyframes blink {
    25% {
        opacity: 0;
    }
}

.herodiv {
    margin: 7px;
}

:root {
    --color-text: #616161;
    --color-text-btn: #ffffff;
    --card1-gradient-color1: #303030;
    --card1-gradient-color2: #818080;
    --card2-gradient-color1: #0077AF;
    --card2-gradient-color2: #afdef3;
    --card3-gradient-color1: #A534AA;
    --card3-gradient-color2: #F09715;
    --card4-gradient-color1: #003ece;
    --card4-gradient-color2: #b7c7ee;
    --card5-gradient-color1: #EC7C23;
    --card5-gradient-color2: #B6B5B5;
}

.card-wrap {
    width: 170px;
    height: 212px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 2px solid rgba(255, 255, 255, 0.486);
    overflow: hidden;
    color: var(--color-text);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin: 10px;
    box-sizing: border-box;
}

.card-wrap:hover {
    transform: scale(1.1);
}

.card-header {
    height: 200px;
    width: 100%;
    background: red;
    border-radius: 100% 0% 100% 0% / 0% 50% 50% 100%;
    display: grid;
    place-items: center;
}

.card-header i {
    color: #fff;
    font-size: 72px;
    border-radius: 0%;
}

.card-text {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.card-header.one {
    background: linear-gradient(to bottom left, var(--card1-gradient-color1), var(--card1-gradient-color2));
}

.card-header.two {
    background: linear-gradient(to bottom left, var(--card2-gradient-color1), var(--card2-gradient-color2));
}

.card-header.three {
    background: linear-gradient(to bottom left, var(--card3-gradient-color1), var(--card3-gradient-color2));
}

.card-header.four {
    background: linear-gradient(to bottom left, var(--card4-gradient-color1), var(--card4-gradient-color2));
}

.card-header.five {
    background: linear-gradient(to bottom left, var(--card5-gradient-color1), var(--card5-gradient-color2));
}

.card-header img {
    max-width: 76px;
}

.contact {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/sand-black.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.contact--title h2 {
    margin: 100px 0 20px 0;
    font-size: 30px;
    text-align: center
}

.contact--card {
    position: relative;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 960px;
    max-width: 80%;
    margin: 50px auto 0;
    gap: 10px;
}

.contact--attribution {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    text-align: center;
    color: #666;
    padding: 20px;
    z-index: 5;
}

.attribution a {
    color: white;
}